client
dev tun
dev-type tun
remote REMOTE_IP REMOTE_PORT udp
nobind
persist-tun
cipher AES-128-CBC
auth SHA1
push-peer-info
ping 10
ping-restart 60
hand-window 70
server-poll-timeout 5
max-routes 1000
remote-cert-tls server
comp-lzo no
key-direction 1
<ca>
-----BEGIN CERTIFICATE-----
X509_CERTIFICATE
-----END CERTIFICATE-----
</cert>
<key>
-----BEGIN PRIVATE KEY-----
PRIVATE_KEY
-----END PRIVATE KEY-----
</key>
