[Unit]
Description=RedCraft Server Management
Documentation=https://github.com/redcraft-org/redcraft_server_management/
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
Restart=on-failure
RestartSec=5s
ExecStart=/usr/bin/rcsm
EnvironmentFile=/etc/rcsm
User=minecraft

[Install]
WantedBy=multi-user.target